<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd" version="2.1">
	<persistence-unit name="assign5" transaction-type="RESOURCE_LOCAL">
	<provider>org.hibernate.ejb.HibernatePersistence</provider>	
    <class>mrumi_hw5.Student</class>   
	    <properties>	    	
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
			<property name="hibernate.hbm2ddl.auto" value="update"/>
			<property name="hibernate.show_sql" value="true"/>						
			<property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
			<property name="hibernate.connection.url" value="jdbc:mysql://monjurafrin.cqwroq2xfaiz.us-west-2.rds.amazonaws.com:3306/monjurafrin"/>
			<property name="hibernate.connection.username" value="monjurafrin"/>
			 <property name="hibernate.connection.password" value="monjurafrin"/>
	    </properties>
	</persistence-unit>
</persistence>